Body {
    font-family: Arial, Helvetica Neue, Helvetica, san-serif;
    color: #777;
    width: 960px;
    font-size: 18px;
}
Header, Nav, Section, Aside, and Footer {
    background: #ebebeb;
}
Aside {
    color: #ebebeb;
    background: #777;
}
h1 and p {
    color: #777;
    background: #ebebeb;
}
Section {
    width: 495px;
}